
.body{
  background-color: rgb(126, 121, 114);

}


.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 20px;
  margin-bottom: 0px;
}

.App-logo1 {
  height: 15vmin;
  pointer-events: none;
  margin-left: 800px;
  margin-bottom: 0px;
}
.p {
  
  margin-left: 20px;
}
.p1{
  
  margin-top: 0px;
  margin-left: 5px;
}
.p2{
  
  text-align: center;
}

.p3{
  margin-left: 5px;
  text-align: center;
  color: white;
}
